body {
	background-color: #cecbbe;
}

label {
	width:160px;
	float:left;
}

h2 {
	background-color: #b2ae99;
	color: white;
	line-height: 50px;
	padding: 0 10px;
}

table {
	background-color: #b2ae99;
}

th {
	width:400px;
}

.hover{
  cursor: pointer;
}

.hover:hover{
  font-weight: bold;
  color: #ffffff;
}

div {
	margin-right: 5px;
}

#landenLijst {
	overflow-x:auto;
	white-space: nowrap;
}

@media only screen and (min-width: 750px) {
	#frame {
		display: grid;
		grid-template-columns: 0.5fr 0.5fr;
		grid-template-rows: 1fr 30fr 2fr; 
	}
	#myLocation { 
		grid-column : 1;
		grid-row: 1;
	}
	#weatherInfo {
		grid-column: 2;
		grid-row: 1;
	}
	#countryList {
		grid-column: 1/3;
		grid-row: 2;
	}
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}